@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Roboto:ital,wght@0,100;1,100&display=swap');

:root{
    --title: 'Neonderthaw', cursive;
    --text: 'Roboto', sans-serif;
    --color01: rgb(089, 002, 002);
    --color02: rgb(166, 003, 003);
    --color03: rgb(217, 004, 004);
    --color04: rgb(242, 116, 005);
    --color05: rgb(242, 135, 005);
    --color06: rgb(027, 001, 001);
    --color07: rgba(143, 143, 143, 0.432);
    --color08: rgb(255, 255, 255);
    --color09: rgb(000, 000, 000);
    --color10: rgb(221, 125, 125);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(66, 15, 11);
    background-image: url(content/bckg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--text);
}

header{
    background-color: var(--color03);
    background-image: linear-gradient(to bottom , var(--color03) , var(--color02));
    border: 1px solid rgb(0, 0, 0);
    margin: -1px auto 150px auto;
    max-width: 950px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}
h1{
    font-family: var(--title);
    color: var(--color05);
    font-size: 5.7em;
    text-shadow: 2px 1px 2px var(--color08);
    margin: -5px 60px;
    transition: 0.05s;
}
header > p{
    color: rgb(255, 255, 255);
    margin: 0 25px 20px 25px;
    text-align: right;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.432);
    font-size: 1.3em;
}
#menu{
    list-style: none;
    list-style-position: inside;
    position: relative;
    height: 32px;
}
#menu > a > li{
    display: inline-block;
    position: absolute;
    border-top: 3px solid var(--color01);
    padding: 5px;
    text-align: center;
    color: var(--color08);
    text-shadow: 0 0 5px var(--color09);
}
#li1{
    width: 33.33%;
    left: 0;
}
#li2{
    right: 50%;
    width: 33.35%;
    transform: translateX(50%);
    border-right: 5px solid var(--color01);
    border-left: 5px solid var(--color01);
}
#li3{
    width: 33.33%;
    right: 0;
}

#menu > a > li:hover{
    background-color: rgba(255, 255, 255, 0.041);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.781);
}


main{
    margin: 0 auto 50px auto;
    background-image: linear-gradient(to bottom , var(--color09) 90% , var(--color06));
    border-radius: 0 0 8px 8px;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
    max-width: 950px;
    padding: 40px 25px;
    position: relative;
}
h2, strong{
    color: var(--color03);
    text-shadow: 1px 2px 2px var(--color07);
    font-size: 1.6em;
}
main > input{
    width: 3em;
    height: 2em;
    margin: 2px 0 22px 25px;
    border-radius: 6px;
    text-align: center;
    font-size: 1.1em;
}
.btn{
    background-color: var(--color03);
    border: 2px solid var(--color02);
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    border-radius: 6px;
}
.btn:hover{
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.616);
    cursor: pointer;
}
.btn:active{
    background-color: rgb(155, 10, 10);
    border: 2px solid rgb(41, 2, 2);
    color: rgb(221, 205, 205);
    text-shadow: none;
}
#btn1{
    position: absolute;
    left: 25px;
    bottom: 25px;
}
#btn2{
    position: absolute;
    right: 25px;
    bottom: 25px;
}
main > div{
    height: 35px;
}

#warning{
    background-color: var(--color03);
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 2.3em;
    left: 0;
    display: none;
}
#warning > p{
    color: rgb(255, 255, 255);
    text-align: center;    
}


#result{
    margin: 0 auto 125px auto;
    background-image: linear-gradient(to top , var(--color09) 90% , var(--color06));
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
    max-width: 950px;
    padding: 40px 25px;
    position: relative;
    display: none;
}
#result>p{
    color: var(--color08);
    font-size: 1.2em;
    padding: 15px 30%;

}
h3{
    color: var(--color08);
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.3em;
    border-top: 1px solid rgb(0, 0, 0);
    background-color: var(--color09);
    box-shadow: 0 -5px 3px rgba(255, 255, 255, 0.068);
}
.footIcon{
    display: inline;
    width: 1.8em;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}
#footCredit{
    display: inline;
    color: var(--color08);
    font-size: 2em;
    font-weight: light;
    font-family: fantasy;
}
#align{
    position: absolute;
    right: 5px;
}